<section class="blog-detail mtb-40">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="blog-left">
            <h1>About Us</h1>
           
            <div class="detail-img">
               <img src="../../../assets/images/Screenshot (76).png" alt="blog1">
            </div>
            <div class="blog-desc">
              <p>EduPath provides comprehensive guidance for students pursuing higher degrees in India and abroad. By increasing user engagement by 42% and improving information accessibility by 35%, EduPath has significantly enhanced the student experience. The platform has successfully assisted over 300 students in making informed academic decisions, offering personalized support and resources tailored to individual needs. EduPath's dedicated team ensures that students have access to the best opportunities, helping them navigate the complexities of higher education and achieve their academic goals both domestically and internationally.</p>
               
            <ul>
                <li>Personalized Guidance: Offers tailored support and resources for students pursuing higher degrees.</li>
                <li>Enhanced Student Experience: Increased user engagement by 42% and improved information accessibility by 35%.</li>
                <li>Successful Assistance: Helped over 300 students make informed academic decisions.</li>
                <li>Comprehensive Support: Provides guidance for higher education in both India and abroad.</li>
                <li>Expert Team: Dedicated professionals ensure access to the best educational opportunities.</li>
                <li>Engagement Strategies: Employs effective strategies to boost student engagement.</li>
            </ul>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>